.simple-block {
  border-top: 10px solid $crimson;
  margin: 20px 0;
  @media (max-width: 767px) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .simple-block-body {
    background: $white;
  }

  .btn-outline-primary {
    background: $crimson;
    border-color: $crimson;
    border-radius: 0 0 10px 10px;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 27px;
    width: 100%;
  }

  .block-description--text {
    .block-heading {
      background: $white;
      border: 1px solid $light-grey;
    }

    h4 {
      color: $black;
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
      padding: 20px 20px 0;
      text-transform: uppercase;
    }

    .field-sb-body {
      padding: 10px 20px 20px;

      p {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

.media-image.media img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.row-eq-height {
  width: 100%;
}

.featured-highlights {
  padding-bottom: 20px;
  padding-top: 20px;
}

.paragraph--type--simple-content {
  .media {
    padding-bottom: 0 !important;
  }

  .media--ratio {
    height: 100%;
    @media (min-width: 992px) {
      height: 400px;
    }
  }

  .media--ratio .media__element {
    height: 400px;
    position: relative;
  }

  .media-image.media img {
    height: 400px !important;
    object-fit: cover;
    padding: 0;
  }
}
