.latest-blog-featured-posts {
  .views-view-grid {
    .views-row {
      float: none;
      width: auto;
    }
  }
}

.paragraph--type--custom-block-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;

  h2 {
    color: $black;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

//Blog Featured Posts Teaser
.featured-posts-teaser {
  border-top: 10px solid $crimson;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }

  h4 {
    margin: 20px 20px 10px;

    a {
      color: $black;
      font-family: 'Quicksand',sans-serif;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .block-category-tag {
    padding: 0 20px 20px;

    h6 {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .blog-heading {
    border: 1px solid $light-grey;
  }

  .btn-outline-primary {
    background: $crimson;
    border-color: $crimson;
    border-radius: 0 0 10px 10px;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 27px;
    width: 100%;
  }


  .block-category-tag {
    color: #636466;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: italic;
    line-height: 21px;

    a {
      color: inherit;
    }
  }
}

//Blog Posts Big Teaser
.node--view-mode-big-teaser {

  h2 {
    color: $black;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .blog-heading {
    margin-bottom: 20px;

    h4 {
      color: $crimson;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    p {
      margin-bottom: 10px;
      @media (max-width: 992px) {
        display: none;
      }
    }

    .block-category-tag {
      color: #636466;
      font-family: 'Roboto';
      font-size: 14px;
      font-style: italic;
      line-height: 21px;
      a {
        color: inherit;
      }
    }
  }
}

// Teaser
.node--type-blog.node--view-mode-teaser {
  margin: auto;
  width: 100%;

  .inner-wrapper {
    background-color: transparent;
    border-radius: 0;
    height: auto;
    margin: 0 -15px 20px;
    overflow: hidden;
    position: relative;

    .blog-heading {
      background-color: transparent;
      bottom: 0;
      left: 0;
      padding: 0;
      position: absolute;
      text-align: left;
      top: 0;
      width: 100%;
    }

    img {
      width: 100%;
    }

    p {
      color: $white;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }

    h6 a,
    h2 a {
      color: $crimson;
    }

    h6,
    h2 {
      color: $white;
      font-size: 18px;
      font-weight: 700;
    }
  }
}


.back-to-blog {
  background: $crimson;
  @media (max-width: 992px) {
    margin-top: 22px;
  }
  margin-top: 74px;

  a {
    color: $white;
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
  }
}

h1.blog-title {
  color: $black;
  font-family: 'Quicksand';
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}

.node--type-blog {
  color: $aubergine;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  a {
    color: $crimson;
  }
}

.blog-image {
  @media (min-width: 767px) {
    float: right;
    width: 360px;
    padding-left: 20px;
  }

  img {
    border-radius: 0;
    padding-bottom: 20px;
  }
}

.prev-next-block-post {
  border-top: 1px solid #707070;

  a {
    color: $crimson;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: underline;
  }
}

.blog-tags-link {
  padding-bottom: 20px;

  a {
    color: $crimson;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 21px;
  }
}
