.pre-footer {
  background-color: $crimson;
  padding: 20px;
  text-align: center;
  .field-sb-body {
    i {
      color: #fff;
      font-size: 2em;
      margin-right: 15px;
    }
  }
}

.footer {
  background: #000;

  .main-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 5px 0;
      a {
        color: #f93549;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
      }
    }
  }

  .footer__copyright {
    text-align: center;
    background-color: #e5e5e5;
  }

  .footer-copy-links {
    color: #231f20;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

#block-views-block-latest-blog-posts-block,
#block-sitemap {
  h2 {
    border-bottom: 1px dashed #95989a;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }
}

.blog-more-teaser {
  .posts {
  }

  .all-post {
    border-top: 1px dashed #95989a;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    a {
      color: #f93549;
      font-family:'Roboto';
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      padding-top: 20px;
    }
  }
}
