.pre-footer {
  background-color: $crimson;
  padding: 20px;
  text-align: center;

  .field-sb-body {
    i {
      color: $white;
      font-size: 2em;
      margin-right: 15px;
    }
  }
}

.footer {
  background: $black;

  .main-footer {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0;

      a {
        color: $crimson;
        font-family: $font-family-global;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
      }
    }
  }

  .footer__copyright {
    background-color: $light-grey;
    text-align: center;
  }

  .footer-copy-links {
    @extend %sub-description-p;
  }
}

#block-views-block-latest-blog-posts-block,
#block-sitemap {
  h2 {
    border-bottom: 1px dashed #95989a;
    color: $white;
    font-family: $font-family-basic;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.blog-more-teaser {
  .all-post {
    border-top: 1px dashed #95989a;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;

    a {
      color: $crimson;
      font-family: $font-family-global;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      padding-top: 20px;
    }
  }
}
