.sidebar-mobile,
.sidebar-desktop {
  @media (max-width: 992px) {
    padding-bottom: 0;
    padding-top: 0;
  }

  .form-item {
    margin: 10px 0;
  }

  .form-actions .input-wrapper {
    text-align: left;
  }

  .search-block-form {
    .form-search {
      border: 1px solid #666;
      width: 100%;
    }
  }

  // Search form.
  input[type='submit'] {
    display: block;
    margin-left: 0;
  }

  .field-sb-body {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  h3 {
    font-family: $font-family-basic;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ul {
    padding-left: 0;

    li {

      list-style: none;

      a {
        @extend %sub-description-p;
        color: $crimson;
      }
    }
  }
}

.navbar.navbar-sidebar {
  background: $light-grey;

  .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg');
  }

  .navbar-toggle {
    background: transparent;
    border: 0;
    padding-right: 0;
  }
}

#sidebar-2.sidebar {
  background: $light-grey;
  left: 50%;
  position: fixed;
  top: 0;
  z-index: 2000;
  @media (max-width: 767px) {
    left: 0;
  }
}
