a[href*='://'] {
  &.btn {
    &.btn-outline-primary,
    &.btn-outline-primary-darker {
      background: $white;
      border: 2px solid $crimson;
      color: $crimson;

      &:active {
        background: $white;
        border-color: $crimson;
        color: $crimson;
      }
    }
  }
}

.media--loading {
  &::before {
    background: $crimson;
  }
}

.no-gutter > [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-primary {
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-post {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
}

.viewport {
  .nav-global {
    border: 0;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
  }

  main {
    .layout-content {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

@media (min-width: 992px) {
  .without-banner {
    .viewport {
      margin-top: 168px;
    }

    .top-navs:not(.affix) {
      .page-head--main-menu .navbar > li > a {
        color: $white;

        &:hover {
          color: $crimson;
        }
      }
    }
  }
}

footer {
  .container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-brand {
  background: url('../../img/logo-full.svg') no-repeat;
  background-size: contain;
  box-sizing: content-box;
  display: block;
  height: 69%;
  margin: 0 0 5px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 221px;
}

@media (max-width: 991px) {
  .navbar-brand {
    height: 57%;
    width: 147px;
  }
}

.nav-global {
  border: 0;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
}

.page-head__top-menu {
  background-color: $light-grey;

  nav {
    ul {
      list-style: none;
      margin: 12px 0;
      text-align: center;

    }

    li {
      display: inline;
      padding: 0 20px;

      a {
        color: $black;
        font-family: $font-family-basic;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
      }
    }
  }
}

nav {
  .header-content {
    background: $black;
  }
}

.page-head--main-menu {
  li {
    padding-left: 20px;
    padding-right: 20px;

    a,
    button {
      color: $white;
      font-family: $font-family-basic;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      padding: 30px 0;
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: $crimson;
      }
    }
  }

  .btn-primary-menu {
    @extend %btn-global-style;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-left: 20px;

    &:active {
      background: $crimson;
      border-color: $crimson;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  }
}

//Mobile menu

.sidebar {
  background: $black;
  position: fixed;
  top: 0;
  z-index: 2000;

  .page-head--main-menu {
    margin-bottom: 80px;
  }
  .nav-level-2 a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav {
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      &:hover {
        background: transparent !important;
      }
    }

    li {
      a {
        color: $white;
        font-family: $font-family-basic;
        line-height: 27px;

        &:hover {
          color: $crimson;
        }
      }
    }
  }

  .btn-primary-menu {
    @extend %btn-global-style;
    margin-top: 20px;
    width: 100%;
    margin-left: 0;

    &:hover {
      background: $crimson !important;
      color: $white;
    }
  }

  &.collapse {
    &.show {
      width: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.nav-title {
  color: $aubergine;
  font-family: $font-family-global;
  font-size: 16px;
}

.top-bar {
  background-color: $light-grey;
  padding-top: 10px;
  padding-bottom: 10px;

  .home-icon,
  .fa-times {
    color: $crimson;
    font-size: 26px;
  }

  button {
    background: none;
    border: 0;
  }
}

.without-banner {
  .top-navs {
    background-color: $black;

    &.menu-in,
    &.affix {
      background: $black;
    }

    &.affix {
      &.menu-in {
        background: $black;
      }
    }
  }
}

@media (max-width: 992px) {
  .without-banner {
    .viewport {
      margin-top: 70px;
    }
  }
}

.with-banner {
  .layout-container {
    .top-navs {
      background-color: $black;

      &.menu-in,
      &.affix {
        background: $black;
      }

      &.affix {
        &.menu-in {
          background: $black;
        }
      }
    }
  }
}

.mobile-secondary-menu {
  background-color: $light-grey;
  height: auto;
  left: 50%;
  @media (max-width: 767px) {
    left: 0;
  }
  @media (min-width: 992px) {
    display: none !important;
  }

  nav {
    ul {
      display: inline-block;
      list-style: none;
      margin-bottom: 0;
      padding: 0 20px;
      text-align: center;
    }

    li {
      float: left;
      padding: 10px;
      width: 50%;

      a {
        color: $black;
        font-family: $font-family-basic;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-transform: none;
      }
    }
  }
}

.overlay {
  background-color: $black;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.content-mobile-fixed {
  height: 100%;
  overflow: hidden;
}

.content {
  padding-top: 169px;
  @media (max-width: 992px) {
    padding-top: 70px;
  }
}

%title-h2 {
  color: $crimson;
  font-family: $font-family-basic;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48px;
}

%description-p {
  color: $aubergine;
  font-family: $font-family-global;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

%subtitle-h4 {
  color: $black;
  font-family: $font-family-basic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

%btn-global-style {
  background: $crimson;
  border: 2px solid $crimson;
  border-radius: 5px;
  color: $white;
  font-family: $font-family-basic;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

%sub-description-p {
  color: $aubergine;
  font-family: $font-family-global;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
