.webform-submission-form {
  padding-top: 0;
}

.webform {
  margin-left: 0;
  margin-right: 0;
}

form {
  width: 100%;

  .form-control {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .form-tel {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.form-center {
  margin: 0 auto;
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }

  .form-tel {
    width: 100%;
  }
}

.form-item {
  .full-width {
    width: 100%;
  }
}

.form-item {
  .control-label {
    color: $aubergine;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
  }
}

.form-type-checkbox {
  display: flex;
  input[type="checkbox"] {
    margin-right: 10px;
  }

  .control-label {
    font-weight: 400;
    margin-top: -5px;
  }
}

.form-actions {
  .input-wrapper {
    text-align: center;
    .form-submit {
      background-color: $crimson;
      border: 2px solid $crimson;
      border-radius: 5px;
      color: $white;
      font-family: 'Quicksand';
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      padding: 15px 40px;
      text-transform: uppercase;


      &:active {
        background: $crimson;
        border-color: $crimson;
      }

      &:focus {
        box-shadow: none;
      }

      &:not(:disabled):not(.disabled):active:focus {
        background: $crimson;
        border-color: $crimson;
        box-shadow: none;
        color: $white;
      }
    }
  }
}

//Search form
.paragraph--type--custom-block-wrapper {
  .exposed-form-flex-wrapper {
    padding-bottom: 0;
    padding-top: 0;

    input {
      width: 100% !important;
    }

    .form-item {
      margin-right: auto;
      margin-top: 0;
    }

    .form-actions {
      margin-right: auto;
    }

    label {
      font-family: 'Quicksand';
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}

.exposed-form-flex-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;

  @media (max-width: 767px) {
    .form-flex {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .form-item {
    margin: 1em 0;
    width: 100%;
  }

  .form-actions {
    margin-right: auto;
    padding-bottom: 16px;
  }

  .form-submit {
    margin-left: 0;
  }

  .form-item .control-label {
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
