.paragraph-1c-wrapper {
  padding-bottom: 20px;
  padding-top: 40px;
  @media (max-width: 768px) {
    width: 100%;

    div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .header-title {
    width: 100%;
    @media (min-width: 992px) {
      margin: 0 auto;
      width: 66%;
    }
  }

  .field-prgf-1c-title {
    h2 {
      @extend %title-h2;
      padding-bottom: 10px;
      text-transform: none;
    }
  }

  .field-prgf-1c-description {
    p {
      @extend %description-p;
      margin-bottom: 0;
      padding: 10px 0 20px;
      text-align: center;
    }
  }

  .block-description--text {

    .btn-outline-primary {
      @extend %btn-global-style;
      padding: 20px;

      &:active {
        background: $crimson;
        border-color: $crimson;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .field-sb-body {
    font-family: $font-family-global;
    padding-bottom: 0;
    font-size: 14px;
    padding-top: 20px;

    ul {
      display: inline-grid;
      list-style: none;
      margin-bottom: 20px;
      margin-top: 0;
      padding-left: 15px;
    }

    li {
      display: inline-flex;
      padding-bottom: 10px;

      strong {
        display: contents;
      }

      &::before {
        color: $crimson;
        content: '\f10c';
        font-family: 'FontAwesome';
        font-size: 12px;
        margin-right: 15px;
      }
    }

    p {
      @extend %sub-description-p;
      margin-bottom: 20px;
    }

    a {
      color: $crimson;
      font-weight: 700;
    }
  }
}
