.paragraph-1c-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    width: 100%;
    div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .header-title {
    width: 100%;
    @media (min-width: 992px) {
      width: 66%;
      margin: 0 auto;
    }
  }

  .field-prgf-1c-title {
    color: $crimson;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 10px;
    text-transform: none;
  }

  .field-prgf-1c-description {
    color: $aubergine;
    text-align: center;

    p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 0;
      padding-top: 10px;
    }
  }

  .block-description--text {
    text-align: center;

    .btn-outline-primary {
      background: $crimson;
      border: 2px solid $crimson;
      border-radius: 5px;
      color: $white;
      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      line-height: 27px;
      padding: 20px;
      font-weight: 700;
      &:active {
        background: $crimson;
        border-color: $crimson;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
