.block-description--2 {
  .block-description--text {
    h4 {
      color: $black;
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 0;
      padding: 20px 0;
      text-transform: uppercase;
    }

    .btn-outline-primary {
      background: $white;
      border: 2px solid $crimson;
      border-radius: 5px;
      color: $crimson;
      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      line-height: 27px;
      padding: 20px;
      display: inline-block;
      width: auto;
    }
  }

  .field-sb-body {
    ul {
      list-style: none;
      margin-top: 16px;
      display: inline-grid;

      li {
        display: inline-flex;
        padding-bottom: 10px;

        &:before {
          color: $crimson;
          content: '\f10c';
          font-family: 'FontAwesome';
          font-size: 12px;
          margin-right: 15px;
        }
      }
    }

    a {
      color: $crimson;
      font-weight: 700;
    }

    p {
      color: $aubergine;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
