.paragraph--type--back-to {
  background: $crimson;
  margin-top: 13px;
  padding: 12px 0;

  a {
    color: $white;
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
}
