.block-prev {
  bottom: 50%;
  position: relative;
}

.block-next {
  bottom: 50%;
  position: relative;
}

.block-link {
  margin-bottom: -50px;
}

.prev-next {
  background: $white;
  border: 2px solid $light-grey;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 0;

  h4 {
    color: $black;
    font-family: $font-family-basic;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  .text-description {
    @extend %subtitle-h4;
    color: $crimson;
    font-weight: 500;
  }

  i {
    color: $crimson;
    font-size: 50px;
    margin: 0 20px;
  }

  @media (max-width: 767px) {
    height: auto;
  }
}
