.subprogram-listing-item {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;

  .banner-bg {
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .teaser-box-content {
    background: $black;
    border: 2px solid $white;
    height: 100%;
    max-width: 1200px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .content-without-bg {
    .teaser-content {
      color: $aubergine;

      h2 {
        color: $crimson;
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
        line-height: 48px;
        margin-top: 10px;
        padding-bottom: 10px;
        text-transform: none;
      }
    }
  }

  .content {
    color: $white;
    float: right !important;
    font-size: 18px;
    line-height: 27px;
    margin: 40px 0;
    padding: 30px 0;
    position: relative;
    text-align: center;

    .teaser-content {
      margin: 0 auto;
      padding: 0;
      position: relative;
      @media (min-width: 992px) {
        width: 66%;
      }

      h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
        line-height: 48px;
        margin-top: 10px;
        padding-bottom: 10px;
        text-transform: none;
      }

      p {
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .btn-outline-primary {
    background: $crimson;
    border: 2px solid $crimson;
    border-radius: 5px;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: 10px auto;
    padding: 16px 20px;
    width: max-content;

    &:active {
      background: $crimson;
      border-color: $crimson;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
      background: $crimson;
      border-color: $crimson;
      color: $white;
    }
  }
}
